L9-REST/non-project/ajax_including_server/web/wsdl/bootservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BootServiceService" targetNamespace="http://ws.ipd.depaul.edu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.ipd.depaul.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://ws.ipd.depaul.edu/" schemaLocation="bootservice_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="getProductDetailResponse">
    <wsdl:part name="parameters" element="tns:getProductDetailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBootStyles">
    <wsdl:part name="parameters" element="tns:getBootStyles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getColorOptionsResponse">
    <wsdl:part name="parameters" element="tns:getColorOptionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductDetail">
    <wsdl:part name="parameters" element="tns:getProductDetail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBootStylesResponse">
    <wsdl:part name="parameters" element="tns:getBootStylesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getColorOptions">
    <wsdl:part name="parameters" element="tns:getColorOptions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BootService">
    <wsdl:operation name="getColorOptions">
      <wsdl:input name="getColorOptions" message="tns:getColorOptions">
    </wsdl:input>
      <wsdl:output name="getColorOptionsResponse" message="tns:getColorOptionsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBootStyles">
      <wsdl:input name="getBootStyles" message="tns:getBootStyles">
    </wsdl:input>
      <wsdl:output name="getBootStylesResponse" message="tns:getBootStylesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductDetail">
      <wsdl:input name="getProductDetail" message="tns:getProductDetail">
    </wsdl:input>
      <wsdl:output name="getProductDetailResponse" message="tns:getProductDetailResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BootServiceServiceSoapBinding" type="tns:BootService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getColorOptions">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getColorOptions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getColorOptionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBootStyles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBootStyles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBootStylesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductDetail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductDetail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductDetailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BootServiceService">
    <wsdl:port name="BootServicePort" binding="tns:BootServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/bootstore/services/BootServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
